:root {
    --bg-color: skyblue;
    --card-bg-color: orange;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


main{
    margin-top: 20px;
}
.card{
    border: 1px solid black;
    background-color: var(--card-bg-color);
}

.navbar {
    background-color: var(--bg-color);
}

.navbar-brand {
    display: flex;
}

.brand-title{
    display: flex;
    align-items: center;
    width: 75%;
}

#plane-container {
    display: flex;
    width: 25%;
    height: 100%;
    padding: 0px;
    margin-left: 12px;
}

.fa-rocket {
    height: 85%;
    width: 85%;
    background-image: url("../../assets/images/rocket-solid.svg");
    background-size:inherit;
    background-position: center;
    background-repeat: no-repeat;
}

#input-section {
    /* make sure to switch display to flex */
    display: none;
    justify-content: space-around;
}

.modal-content h5, li {
    color: var(--bg-color);
    margin: 0 auto;
    padding-left: 50px;
}
.modal-content li {
    padding-left: 75px;
}
#budget-input {
    display: none;
}

#budget-input h3 {
    text-align: center;
}

#location-section {
    display: none;
    flex-flow:column wrap;
}

#location-input {
/* display: flex;
align-items: center;
justify-content: center; */  
}

#location-input-container h3 {
    text-align: center;
}

.input, .button {
    background-color: lightblue;
}

img {
    border-radius: 10px;
}

/* #locationInfo {
    display: none;
 } */

#date-container {
    display:flex;
}
