:root {
    --bg-color: #CFF4D2;
    --card-bg-color: #2e9992;
    

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html{
    background-color: #CFF4D2;
}

main{
    margin-top: 20px;
}

.card{
    border: 1px solid #455054;
    background-color: var(--card-bg-color);
}

.title{
    color: #DDDDDA;
    -webkit-text-stroke: #455054;
    -webkit-text-stroke-width: thin;
    font-size: 2.2rem;
}

.navbar {
    background-color: #769780;
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

#search-history-button{
    border: 1px solid #455054;
}
#brand-title{
    font-size: 3rem;
    color: #455054;
    -webkit-text-stroke: #DDDDDA;
    -webkit-text-stroke-width: thin;
}

#plane-container {
    display: flex;
    width: 25%;
    height: 100%;
    padding: 0px;
    margin-left: 12px;
}

.fa-rocket {
    height: 85%;
    width: 85%;
    background-image: url("../../assets/images/rocket-solid.svg");
    background-size:inherit;
    background-position: center;
    background-repeat: no-repeat;
}

#input-section {
    /* make sure to switch display to flex */
    display: none;
    justify-content: space-around;
}

.modal-content h5, li {
    color: var(--bg-color);
    margin: 0 auto;
    padding-left: 50px;
}
.modal-content li {
    padding-left: 75px;
}
#budget-input {
    display: none;
}
#converted-budget {
    display: none;
}

.conv-budget-item {
    font-size: x-large;
}


#budget-holder {
margin-top: 50px;
}

#budget-holder h4 {
    margin: 20px auto 30px 10px;
    font-size: 22px;
    font-weight: bold;
}

#budget-input h3 {
    text-align: center;
}

#location-section {
    display: none;
    justify-content: space-evenly;

}

#location-input {
/* display: flex;
align-items: center;
justify-content: center; */  
}

.location-card {
    /* overflow-wrap: break-word; */
}

#location-input-container h3 {
    text-align: center;
}

.input, .button {
    background-color: #DDDDDA;
}

.button.is-dark {
    background-color: #455054;
    border-color: #DDDDDA;
    color: #DDDDDA;
}

img {
    border-radius: 10px;
}

#date-container {
    display:flex;
}

.modal-card-foot {
    display:flex;
    justify-content: space-between;
}

label{
    font-size: 1.1rem;
    font-weight: bold;
}
@media screen and (min-width: 600px){
    .navbar-dropdown {
        background-color: var #769780;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top: 2px solid #DDDDDA;
        box-shadow: 0 8px 8px rgb(10 10 10 / 10%);
        display: none;
        font-size: .875rem;
        left: 0;
        min-width: 100%;
        position: absolute;
        top: 100%;
        z-index: 20;
        align-items: center;
    }
}

@media screen and (min-width: 1024px){
    .navbar-item, .navbar-link {
        align-items: center;
        display: flex;
    }
}


@media screen and (min-width: 768px) {
    .navbar, .navbar-end, .navbar-menu, .navbar-start {
        align-items: stretch;
        display: flex;
    }
}

/* Utility */
.display-none {
    display: none;
}

    .navbar {
        min-height: 3.25rem;
    }
